.headerOption{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    color: gray;
    cursor: pointer;
    transition: all 100ms ease-in;
}
.headerOption:hover{
    color: black;
}
.headerOption__title{
    font-size: 12px;
    font-weight: 400;
}
@media(max-width: 690px){
    .headerOption{
        display: none;
    }
}